.first_part{
    background-image: url("../imgs/MainBG_services.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 671px
}
.first_part::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 671px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.container{
    width: 95%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap:86px;
    grid-template-columns: auto auto auto;
}

.text_block{
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: #1F1F1F;
}
.block_title{
    font-size: 48px;
    color: white;
    margin-bottom: 1%;
}
.block_title::after{
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 20%;
    margin: auto;
}
.block_text{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    color: #989898;
}
.service{
    text-align: center;
    justify-self: center;
    align-self: center;
}
.service img{
    width: 400px;
    box-shadow: 0 4px 13px 6px gray;
    border-radius: 20px;
    cursor: pointer;
}

.service a{
    position: relative;
    top:-60px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
@media (max-width: 1320px) {
    .container{
        grid-template-columns: auto auto;
    }

}
@media (max-width: 855px) {
    .container{
        grid-template-columns: auto;
    }
    .block_text{
    width: 80%;
}

}
@media (max-width: 430px) {
    .service img{
        width: 300px;
    }
    .service a{
        font-size: 15px;
        top: -48px;
    }

}
