{%extends "html/base.html"%}
{%load static%}
{%block styles%}
<link rel="stylesheet" href="{%static 'css/project_list.css'%}">
{%endblock styles%}

{%block content%}
<div class="first_part"></div>

<div class="text_block">
        <h1 class="block_title" >Our Projects</h1>
    <p class="block_text">The Our Projects section is a showcase of our skill and passion for creating beautiful homes.
        We invite you to discover the unique architectural masterpieces that we have proudly brought to life.
    </p>
</div>
<div class="container">
    <div class="project">
        <img src="{%static 'imgs/ProjectKhotanovskiy.png'%}" alt="">
        <div class="project_text">
            <a href="">Khotonivsky Oasis: Luxury Cottage in the Heart of Nature</a>
        </div>
    </div>
    <div class="project">
        <img src="{%static 'imgs/ProjectKhotanovskiy.png'%}" alt="">
        <div class="project_text">
            <a href="">Khotonivsky Oasis: Luxury Cottage in the Heart of Nature</a>
        </div>
    </div>
     <div class="project">
        <img src="{%static 'imgs/ProjectKhotanovskiy.png'%}" alt="">
        <div class="project_text">
            <a href="">Khotonivsky Oasis: Luxury Cottage in the Heart of Nature</a>
        </div>
    </div>
    <div class="project">
        <img src="{%static 'imgs/ProjectKhotanovskiy.png'%}" alt="">
        <div class="project_text">
            <a href="">Khotonivsky Oasis: Luxury Cottage in the Heart of Nature</a>
        </div>
    </div>
    <div class="project">
        <img src="{%static 'imgs/ProjectKhotanovskiy.png'%}" alt="">
        <div class="project_text">
            <a href="">Khotonivsky Oasis: Luxury Cottage in the Heart of Nature</a>
        </div>
    </div>
     <div class="project">
        <img src="{%static 'imgs/ProjectKhotanovskiy.png'%}" alt="">
        <div class="project_text">
            <a href="">Khotonivsky Oasis: Luxury Cottage in the Heart of Nature</a>
        </div>
    </div>
</div>
{%endblock content%}